<div class="container">
    <div class="card">
        <div class="fila">
            <div class="col-100 titulo">
                <h1>Listado de Productos</h1>
                <form class="buscador" [formGroup]="formSearch">
                    <label (click)="showSearch()">
                        <img src="assets/search.svg">
                    </label>
                    <input type="search" 
                           placeholder="Nombre producto..." 
                           #search
                           formControlName="search">
               </form>
                <button routerLink="/crear-productos">CrearProductos</button>
            </div>
        </div> 
        <hr>
        <table class="clientes">
            <tr>
                <th>Nombre</th>
                <th>Codigo SKu</th>
            </tr>
            <tr *ngFor="let producto of productos">
                <td>{{producto?.nombre}}</td>
                <td>{{producto?.sku}}</td>
            </tr>
        </table>
    </div>
</div>

